@model AlApar.Models.BinaAdsPersonal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Bina/Views/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BinaAdsPersonal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasMortgage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasMortgage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viewed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdPackage.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdStatus.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandAppointment.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metro.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContact.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPaymentType.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellType.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Village)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Village.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
